body{
	font-family: 'Calibri';
	background-color: #1d1c2c;
	color: #d7ceff;
}

.title{
	text-align: center;
	font-size: 3vw;
}

.text .timer{
	font-size: 200px;
	text-align: center;
	margin: auto;
	word-wrap: break-word;

}


.image .meme{
	display: block;
	height: 40%;
	margin: auto;
}

