body{
	font-family: 'Calibri';
	color: #d7ceff;
	background: #1d1c2c;
	/*background: linear-gradient(0deg, rgba(183,0,217,1) 0%, rgba(0,182,219,1) 100%);*/
	background-repeat: none;
}

h1{
	font-family: 'Calibri';
}

p{
	font-family: 'Calibri';
	color: #1d1c2c;
}

.aadam_section{
	display: inline-block;
	float: left;
	/*background-color: #000;*/
	max-width: 50%;
	align-items: center;
}

.aadamas_section{
	display: inline-block;
	float: right;
	/*background-color: #fff;*/
	max-width: 50%;
	align-items: center;
}


.title{
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	padding: none;

}

.title .title_text{
	display: inline-flex;
	vertical-align: center;
	float: middle;
}


.timer_container{
	height: 20%;
	border-radius: 5px;
	margin: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: #3b2b7d;
	font-size: 40px;
	text-align: center;
}

.timer_container .days_div{
	background-color: #8d73ff;
	border-radius: 10px;
	border: solid 2px #1d1c2c;
	display: inline-flex;
	align-items: center;
	height: 60px;
	width: 60px;
	text-align: center;
	margin-right: 10px;
	margin: none;
	padding: 10px;

}

.timer_container .days_div .days_text{
	display: block;
	margin: auto;
	vertical-align: center;

}

.timer_container .hours_div{
	background-color: #8d73ff;
	border-radius: 10px;
	border: solid 2px #1d1c2c;
	margin: none;
	display: inline-flex;
	align-items: center;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
}

.timer_container .hours_div .hours_text{
	display: block;
	margin: auto;
	vertical-align: center;

}

.timer_container .mins_div{
	background-color: #8d73ff;
	border-radius: 10px;
	border: solid 2px #1d1c2c;
	margin: none;
	display: inline-flex;
	align-items: center;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
}

.timer_container .mins_div .mins_text{
	display: block;
	margin: auto;
	vertical-align: center;

}

.timer_container .secs_div{
	background-color: #8d73ff;
	border-radius: 10px;
	border: solid 2px #1d1c2c;
	margin: none;
	display: inline-flex;
	align-items: center;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	
}

.timer_container .secs_div .secs_text{
	display: block;
	margin: auto;
	vertical-align: center;

}

.timer_container .colon_div{
	background-color: #8d73ff;
	border: solid 2px #1d1c2c;
	border-radius: 10px;
	margin: none;
	display: inline-flex;
	align-items: center;
	height: 60px;
	width: 20px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	
}

.timer_container .colon_div .colon_text{
	display: block;
	margin: auto;
	vertical-align: center;

}

.data{
	background-color: #3b2b7d;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}


.progbar{
	background-color: #3b2b7d;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.progbar .bar{
	max-width: 100%;
}

#perc_complete_text{
	text-align: center;
}

.image{
	background-color: #101010;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
}

.image .meme{
	display: block;
	height: 500px;
	margin: auto;

}
